@page "/"

<PageTitle>Index</PageTitle>


<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h1>Привет</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h4>Меня зовут Мощенков Илья</h4>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>Спасибо, что уделили время на оценку моего задания.<br />Для просмотра функционала кликнете Guid Book слева в меню.</p>
        </div>
    </div>
</div>


